<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            </a>
            </div>
                <ull class="nav navbar-nav navbar-center">
                <a href="/map"><img src="files/img/logo.png" style="width:185px;height:50px;padding-left:50px;"></a>
                </ull>
                <% if (user) { %>
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                <% } else { %>
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> 
                            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>
</nav>

<!-- Menu on the left side -->
<div id="mySidenav" class="sidenav" style="text-align: center;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/home">Start a new Trip</a>
  <a href="/profile">Profile</a> <!-- TODO to SIGN IN if user is NOT logged in -->
  <a href="/home">SIGN OUT</a> <!-- TODO Only gonna show if the user is logged in -->
  <br>
  <br>
  <a href="/aboutus">About Us</a>
  <a href="/aboutus">Contact</a>
  <a href="/help">Help</a>
</div>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "17%";
        document.getElementById("mySidenav").style.minWidth = "200px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("mySidenav").style.minWidth = "0";
    }
</script>
