<!--
Marist College - Capping Project - Prof. Arias
HereNThere || Rights reserved
==========================
Juan Diaz
Francesco Galletti
Timbille Kulendi
Kulvinder Lotay
Tashi Palden
Joey Pupel  
==========================
aboutus.ejs is a page where users can learn more about our
company and our web application. A button is available to 
email the company and get in touch with them.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>HereNThere</title>

  <!--These are the typical Bootstrap (BS) characteristics and basic libraries that BS is based on.
        We are just importing these libraries -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Loading bootstrap required for the page -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<aboutusbody id="myPage" data-spy="scroll">

    <!--Style has all the CSS and modifications to edit how things look on the screen.
        For example #map will modify how the Google Maps window looks like. -->
    <link rel = "stylesheet"
          type = "text/css"
          href = "../files/css/main.css" />
    
    <!-- Header partial at the top of the window -->
    <header style="height:50px;">
        <% include partials/header %>
    </header>

    <div class="jumbotron text-center">
      <h1>HereNThere</h1> 
      <p>We specialize in taking you to your next adventure, using NodeJS</p> 
    </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid" style="padding: 60px 50px;">
      <div class="row">
        <div class="col-sm-8">
          <h3 style="font-size:35px;">About HereNThere</h3><br>
          <h3>Founded in 2017, HereNThere is a road trip planner web application. Specialized in multiple stop trips, we focus on taking our customers to their next amazing roadtrip. With our four years of experience in programming, we are devoted to bring our customers a streamlined and modern service.</h3><br>
          <!-- <h4 style="color:white;">Best roadtripper on the web except for roadtrippers.com</h4>   -->
          <!-- TODO: Make this button open up email with email address of company -->
          <button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-signal logoaboutus"></span>
        </div>
      </div>
    </div>

    <div class="container-fluid bg-grey" style="padding: 60px 50px;">
      <div class="row">
        <div class="col-sm-4">
          <!-- Creates a globe image that appears when the user scrolls down -->
          <span class="glyphicon glyphicon-globe logoaboutus slideanim"></span>
        </div>
        <div class="col-sm-8">
          <h2>Our Values</h2><br>
          <!-- TODO: Rewrite the mission and vision -->
          <h4><strong>MISSION:</strong> Our mission is to bring to our customers a streamlined and modern service. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
          <p><strong>VISION:</strong> Our vision is to bring to our customers a streamlined and modern service. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>

    <!-- Container (Services Section) -->
    <div id="services" class="container-fluid text-center" style="padding: 60px 50px;">
      <h2>TEAM</h2>
      <h4>Development Team</h4>
      <br>
      <!-- Makes the items inside appear when the page is scrolled down to them -->
      <div class="row slideanim">
        <div class="col-sm-4">
          <span><img src="files/img/juandiaz.png" alt="JuanDiaz" height="75" width="75" class="img-circle"></span>
          <h4>Juan Diaz</h4>
          <p>IS Major</p>
        </div>
        <div class="col-sm-4">
          <span><img src="files/img/francescogalletti.png" alt="FrancescoGalletti" height="75" width="75" class="img-circle"></span>
          <h4>Francesco Galletti</h4>
          <p>CS Major - Game Design</p>
          <p>www.francescogalletti.com</p>
        </div>
        <div class="col-sm-4">
          <span><img src="files/img/timbillekulendi.png" alt="TimbilleKulendi" height="75" width="75" class="img-circle"></span>
          <h4>Timbille Kulendi</h4>
          <p>CS Major - Software Development</p>
        </div>
      </div>

      <br><br>

      <!-- Makes the items inside appear when the page is scrolled down to them -->
      <div class="row slideanim">
        <div class="col-sm-4">
          <span><img src="files/img/kulvinderlotay.png" alt="KulvinderLotay" height="75" width="75" class="img-circle"></span>
          <h4>Kulvinder Lotay</h4>
          <p>CS Major - Game Design</p>
        </div>
        <div class="col-sm-4">
          <span><img src="files/img/tashipalden.png" alt="TashiPalden" height="75" width="75" class="img-circle"></span>
          <h4>Tashi Palden</h4>
          <p>CS Major - Game Design</p>
        </div>
        <div class="col-sm-4">
          <span><img src="files/img/joeypupel.png" alt="JoeyPupel" height="75" width="75" class="img-circle"></span>
          <h4>Joey Pupel</h4>
          <p>CS Major - Game Design</p>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center" style="padding: 60px 50px;">
      <!-- Takes the user back to the top of the page when clicked on -->
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
    </footer>

    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links in navbar + footer link
      $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, aboutusbody').animate({
            scrollTop: $(hash).offset().top
          }, 900, function(){
      
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
      
      // Function used to slide images into place when the window scrolls down
      $(window).scroll(function() {
        $(".slideanim").each(function(){
          var pos = $(this).offset().top;

          var winTop = $(window).scrollTop();
            if (pos < winTop + 600) {
              $(this).addClass("slide");
            }
        });
      });
    })
    </script>

</aboutusbody>
</html>
