<!--
Marist College - Capping Project - Prof. Arias
HereNThere || Rights reserved
==========================
Juan Diaz
Francesco Galletti
Timbille Kulendi
Kulvinder Lotay
Tashi Palden
Joey Pupel  
==========================
help.ejs is a page that users can go to to get help or helpful
information about our web application. It contains the user 
guide.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>HereNThere</title>
  <!--These are the typical Bootstrap (BS) characteristics and basic libraries that BS is based on.
            We are just importing these libraries -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Loads Bootstrap required for this page -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Favicon -->
  <link rel="icon" href="files/img/Nlogo.png" type="image/gif" sizes="16x16">
</head>

<aboutusbody id="myPage" data-spy="scroll">

  <link rel = "stylesheet"
        type = "text/css"
        href = "../files/css/main.css" />
  
  <header style="height:50px;">
      <% include partials/header %>
  </header>

  <div class="jumbotron text-center">
    <h1>User Guide</h1> 
    <p>Help them newbs</p> 
  </div>

  <body>
    <div class="row">
      <div class="well well-lg">
        <br>

        <h3 style="color:black;"><p dir="ltr" align="center"><b>
            Table of Contents
        </b></p></h3>
        <p dir="ltr" align="center"><a href="help#1">1 Introduction</a></p>
        <p dir="ltr" align="center"><a href="help#1.1">1.1 Landing Page</a></p>
        <p dir="ltr" align="center"><a href="help#1.2">1.2 Login Page</a></p>
        <p dir="ltr" align="center"><a href="help#1.3">1.3 Sign-Up Page</a></p>
        <p dir="ltr" align="center"><a href="help#1.4">1.4 Map Page</a></p>
        <p dir="ltr" align="center"><a href="help#1.5">1.5 Admin Page</a></p>
        <p dir="ltr" align="center"><a href="help#1.6">1.6 Help Page</a></p>
        <p dir="ltr" align="center"><a href="help#1.7">1.7 Settings Page</a></p>
        <p dir="ltr" align="center"> <a href="help#2">2 General Considerations</a></p>

        <hr class="line_break">
        <h3 style="color:black;"><p dir="ltr" align="center"><b>
            Basics
        </b></p></h3>
        <b><p dir="ltr" id="1" align="center">
            1 Introduction
        </p></b>
        <p dir="ltr">
          This is a end user guide for HereNThere website. This web application allows
          users to find and plan road trips around the world, book hotels, restaurants,
          and get recommendations during their route planning. HereNThere helps the user
          to plan a desired road trip in an efficient and streamlined manner. The web application
          will have suggested locations, bookings, and places of interests displayed to help
          the user better plan their next road trip. 
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="1.1" align="center">
          1.1 Landing Page
        </p></b>
        <p dir="ltr">
          The user will see the landing page, once they have entered the web application.
          The user can either decide to click “Login” if the user has account or they 
          can sign up for one by clicking the  “Sign Up” if the user doesn't have 
          an account. 
        </p>
        <p dir="ltr" align="center">
        </p>
        <p dir="ltr" align="center">
            <img
                src="files/img/landingpage.png"
                width="624"
                height="361"
            />
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="1.2" align="center">
            1.2 Login Page
        </p></b>
        <p dir="ltr">
          The login page asks the user for their email address and password, both
          of which to be typed in the appropriate text area. Clicking “Login” 
          will take the user back to landing page if the login is correct. Otherwise,
          a red sentence will appear on the top of the page, “Incorrect username 
          or password”, highlighting that the user has entered incorrect information.
          Clicking on “Sign Up”will bring the user to the registration page. 
        </p>
        <br/>
        <p dir="ltr" align="center">
            <img
                src="files/img/loginpage.png"
                width="624"
                height="361"
            />
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="1.3" align="center">
            1.3 Sign-Up Page
        </p></b> 
        <p dir="ltr">
          The Registration page is similar to the Login Page, it displays a box where
          the user will have to enter an email address, username, and password in order 
          to successfully register on the website. Once their email address has been 
          verified, the information is then safely stored in our database. 
        </p>
        <br/>
        <br/>
        <p dir="ltr" align="center">
            <img
                src="../files/img/signup.png"
                width="624"
                height="361"
            />
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="1.4" align="center">
            1.4 Map Page
        </p></b> 
        <p dir="ltr">
          The Registration page is similar to the Login Page, it displays a box where
          the user will have to enter an email address, username, and password in order 
          to successfully register on the website. Once their email address has been 
          verified, the information is then safely stored in our database. 
        </p>
        <br/>
        <br/>
        <p dir="ltr" align="center">
            <img
                src="../files/img/mappage.png"
                width="624"
                height="361"
            />
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="1.5" align="center">
            1.5 Admin Page
        </p></b> 
        <p dir="ltr">
          The homepage for the admin displays the same information as the home page 
          for general users, but it also displays extra information. On the left 
          side of the homepage button, there is a edit button which will allow 
          admin(s) to change the necessary information. This also allows the admin(s) 
          to maintain or upgrade the website to help improve the performance and 
          productivity of the website.  
        </p>
        <br/>
        <br/>
        <p dir="ltr" align="center">
            <img
                src="../files/img/adminpage.png"
                width="624"
                height="361"
            />
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="1.6" align="center">
            1.6 Help Page
        </p></b> 
        <p dir="ltr">
          This page is for the users who need either tips and or tutorials on 
          using HereNThere, as well as an FAQ section.This page was designed 
          to assist users who have trouble exploring the page. If the question 
          isn’t being answered within the FAQ section, the user will then have 
          an option to contact the website for further assistance, by emailing 
          the website. All the user has to do is sign into their account and 
          email us from their. 
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="1.7" align="center">
            1.7 Settings Page
        </p></b> 
        <p dir="ltr">
          The settings page allows users to change their passwords and set 
          different variables throughout the application. For example, theyu
          can change the language, or the metric system.
        </p>
        <br/>
        <br/>
        <p dir="ltr" align="center">
            <img
                src="../files/img/settings.png"
                width="624"
                height="361"
            />
        </p>
        <br/>
        <hr class="line_break">
        <br/>
        <b><p dir="ltr" id="2" align="center">
            2 General Considerations
        </p></b> 
        <br/>
        <p dir="ltr">
          Make sure to read through each of these sections in order to 
          be sure to not cause any bugs. In case you discover any bugs, 
          feel free to reach out to the development team and report 
          anything that seems not functioning correctly to you.
        <div>
        <br/>

  </body>

  <script>
  $(document).ready(function(){
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, aboutusbody').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){
    
          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
    
    $(window).scroll(function() {
      $(".slideanim").each(function(){
        var pos = $(this).offset().top;

        var winTop = $(window).scrollTop();
          if (pos < winTop + 600) {
            $(this).addClass("slide");
          }
      });
    });
  })
  </script>

</aboutusbody>
</html>

<!--
=========================
======  TODO    =========


-->