<!--
Marist College - Capping Project - Prof. Arias
HereNThere || Rights reserved
==========================
Juan Diaz
Francesco Galletti
Timbille Kulendi
Kulvinder Lotay
Tashi Palden
Joey Pupel  
==========================
homepage.php is the page where the user first goes in.
The user can set a departure and destination, click GO
and go to the mappage.
==========================
Google Maps API v3
Google Places API v3
==========================
Version 0.1 - October 13, 2017
- Trip from point A to B
- Auto completion in text areas
- Google Places API v3, implemented
- Google Maps API v3 (+ skin), implemented
- Basic homepage, mappage, profile page created
Version 0.3 - October 20, 2017
- Login popup
- Registration popup
- hashing / encryption - TODO
- Registration - TODO
- Database tables for USERS - TODO
Version 0.5 - October 27, 2017
- Multiple stops  in a trip - TODO
- Duration and distance each stop - TODO
-->

<!DOCTYPE html>
<html>
  <head>
    <title>HereNThere</title>

    <!--These are the typical Bootstrap (BS) characteristics and basic libraries that BS is based on.
        We are just importing these libraries -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- jQuery UI Datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <!--Style has all the CSS and modifications to edit how things look on the screen.
    For example #map will modify how the Google Maps window looks like. -->
    <style>

      #map {
        height: 100%;
      }

      html, body {
        height: 96%;
        margin: 0;
        padding: 0;
      }
      
      body {
        background:url('../files/img/backgroundhomepage.png');
        background-size: 150%;
        background-repeat: no-repeat;
      }

      #departure-datepicker {
      background: white url(files/img/calendar.png) left no-repeat;
      padding-left: 30px;
      background-size: 30px 30px;
      }

      #destination-datepicker {
      background: white url(files/img/calendar.png) left no-repeat;
      padding-left: 30px;
      background-size: 30px 30px;
      }

    </style>
  </head>
<!-- 
  ==========================
  ==========================
  =====   END STYLE   ======
  ==========================
  ==========================
-->
  <body>
      <header>
          <% include partials/header %>
      </header>

    <!-- Main elements in the center of the screen -->
    <br><br><br><br><br><br><br> <!-- to delete, pulls it down in the center but will be BS eventually-->
    <div class="container-fluid" style="color:#ffffff" align="center" style="border:20px solid #ffffff;">
        <h1>Explore and hit the road</h1>
        <p>Select a departure and destination and hit GO!</p>
        <form action="/map" method="post" id="search" onkeydown="noGoInput()">
        <div class="row">
            <div class="col-xs-2 col-md-2 col-lg-2" class="form-group">
            </div>
            <div class="col-xs-2 col-md-3 col-lg-4" class="form-group">
                <label for="departure">Departure:</label>
                <input type="text" class="form-control" id="origin-input" name="departure" >
                <input type = "text" id = "departure-datepicker" placeholder = "Add Date" style="color:grey;">
            </div>
            <div class="col-xs-2 col-md-3 col-lg-4" class="form-group">
                <label for="destination">Destination:</label>
                <input type="text" class="form-control" id="destination-input" name="destination" >
                <input type = "text" id = "destination-datepicker" placeholder = "Add Date" style="color:grey;">
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <br>
                <input type="submit" class="btn btn-primary" value="GO" id="GO" disabled></button>
            </div>
        </div>
        <ul class="pagination">
            <button type="button" class="btn btn-primary btn-circle" name="resturant"><img src="../files/img/restauranticon.png" style="width:30px;height:30px;"></button>
            <button type="button" class="btn btn-success btn-circle" name="hotel"><img src="../files/img/hotelicon.png" style="width:30px;height:30px;"></button>
            <button type="button" class="btn btn-info btn-circle" name="poi"><img src="../  files/img/pointsofinteresticon.png" style="width:30px;height:30px;"></button>
        </ul>
        </form>
    </div>
  </body>
  
  <script>
    //datepicker function
    $(function() {
      $( "#departure-datepicker" ).datepicker({
        prevText:"click for previous months",
        nextText:"click for next months",
        showOtherMonths:true,
        selectOtherMonths: false
      });
      $( "#destination-datepicker" ).datepicker({
        prevText:"click for previous months",
        nextText:"click for next months",
        showOtherMonths:true,
        selectOtherMonths: true
      });
    });
  
    // Disables the GO button unless use has put info in both text areas.
    function noGoInput(){
      var originInput=document.getElementById("origin-input");
      var destinationInput=document.getElementById("destination-input");

      if(originInput.value=="" || destinationInput.value=="") {
        document.getElementById("GO").disabled=true;
      }
      else
        document.getElementById("GO").disabled=false;
    }

    new AutocompleteDirectionsHandler(map);
    /**
        * @constructor
    */
    function AutocompleteDirectionsHandler(map) {
      this.map = map;
      this.originPlaceId = null;
      this.destinationPlaceId = null;
      this.travelMode = 'WALKING';
      var originInput = document.getElementById('origin-input');
      var destinationInput = document.getElementById('destination-input');
      var modeSelector = document.getElementById('mode-selector');
      this.directionsService = new google.maps.DirectionsService;
      this.directionsDisplay = new google.maps.DirectionsRenderer;
      this.directionsDisplay.setMap(map);

      var originAutocomplete = new google.maps.places.Autocomplete(
          originInput, {placeIdOnly: true});
      var destinationAutocomplete = new google.maps.places.Autocomplete(
          destinationInput, {placeIdOnly: true});

      this.setupClickListener('changemode-walking', 'WALKING');
      this.setupClickListener('changemode-transit', 'TRANSIT');
      this.setupClickListener('changemode-driving', 'DRIVING');

      this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
      this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

      this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
      this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
      this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
    }

    // Sets a listener on a radio button to change the filter type on Places
    // Autocomplete.
    AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
      var radioButton = document.getElementById(id);
      var me = this;
      radioButton.addEventListener('click', function() {
        me.travelMode = mode;
        me.route();
      });
    };

    AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
      var me = this;
      autocomplete.bindTo('bounds', this.map);
      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.place_id) {
          window.alert("Please select an option from the dropdown list.");
          return;
        }
        if (mode === 'ORIG') {
          me.originPlaceId = place.place_id;
        } else {
          me.destinationPlaceId = place.place_id;
        }
        me.route();
      });
    };

    AutocompleteDirectionsHandler.prototype.route = function() {
      if (!this.originPlaceId || !this.destinationPlaceId) {
        return;
      }
      var me = this;

      this.directionsService.route({
        origin: {'placeId': this.originPlaceId},
        destination: {'placeId': this.destinationPlaceId},
        travelMode: this.travelMode
      }, function(response, status) {
        if (status === 'OK') {
          me.directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    };
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOVAWCWgAiZ_iTjXOVIBoJC0Y-_1xRNos&callback=AutocompleteDirectionsHandler&libraries=places">
  </script>

</html>


<!--
=========================
======  TODO    =========



TO BLUR THINGS  , PUT IN DIVs
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

Navigation Bar Bootstrap
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
-->