<html>
  <head>
    <title>HereNThere Login</title>
  </head>
   <style>
    html, body {
          height: 96%;
          margin: 0;
          padding: 0;
    }

    header {
        background-image: url('files/img/cover.png');
        background-size: 40%;
        color: #ffffff;
        background-color: transparent;
        text-align: center;
        height: 12%;
    }
  </style>
  <body>
    <header>
      <% include partials/header %>
    </header>
    
  </body>
</html>